<ion-header>

  <ion-navbar>
    <ion-title>Quest Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="quest-title-ja">{{listQuest.titleJa}}</div>
  <div class="quest-title-en">{{listQuest.titleEn}}</div>
  <hr>
  <div class="quest-location"><b>Location</b> <br>{{listQuest.location}}</div>
  <div class="quest-main"><b>Main quest</b> <br>{{listQuest.main}}</div>
  <div class="quest-sub"><b>Sub quest</b> <br>{{listQuest.sub}}</div>
  <div class="quest-reward-label">Rewards</div>
  <div class="quest-reward">
    <div class="quest-header">A</div>
    <ion-list>
      <button ion-item *ngFor="let item of listQuest.rewardA">
        {{item.nameJa}} <br>
        {{item.nameEn}}
        <div class="item-note" item-end>
          {{item.chance}}%
        </div>
      </button>
    </ion-list>

    <div class="quest-header">B</div>
    <ion-list>
      <button ion-item *ngFor="let item of listQuest.rewardB">
        {{item.nameJa}} <br>
        {{item.nameEn}}
        <div class="item-note" item-end>
          {{item.chance}}%
        </div>
      </button>
    </ion-list>

    <div class="quest-header">Sub</div>
    <ion-list>
      <button ion-item *ngFor="let item of listQuest.subReward">
        {{item.nameJa}} <br>
        {{item.nameEn}}
        <div class="item-note" item-end>
          {{item.chance}}%
        </div>
      </button>
    </ion-list>
  </div>

</ion-content>
