<ion-header>

  <ion-navbar>
    <ion-title>Quests List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1> {{quest.rank}}</h1>
  <ion-list>
    <button ion-item *ngFor="let listItem of listOfQuests" (click)="questSelected(listItem)">
      <div class="quest-list-ja">{{listItem.titleJa}}</div>
      <span class="quest-list-en">{{listItem.titleEn}}</span>
      <ion-icon *ngIf="isKey(listItem.titleEn)" name="key" item-end></ion-icon>
    </button>
  </ion-list>

</ion-content>
